.photoUpload {
    width: 80%;
    margin: auto;
}
.photoUpload input {
    display: inline-block;
    margin-top: .7em;

}

.uploadText {
    font-size: 25px;
    color: #fefbd8;
}

.welcomeText {
    font-size: 50px;
    color: #fefbd8;
    margin-top: 15px;
}

.picSize {
    width: 20px;
    height: 20px;
}


.cards {
    margin: 25px;
    margin-left: 50px;
}

.innerProfileContainer {
    width: 60%;
    height: 45vh;
    color: whitesmoke;

}
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchWidth {
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
}


.profileHeader {
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 75px;
}