.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.center {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
  height: auto;
}

body > #root > .center {
  background-color: #36486b;
  height: 100vh;
  overflow-x: auto;
}

#root {
  background-color: whitesmoke;
  
}

